@import "variable.scss";
@import "global.scss";





header {
	position: absolute;
	width: 100%;
	z-index: 1;

	.header-wrapper{
		padding:25px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu-opener{
			display: none;
		}

		nav {
			ul{
				display: flex;

				li{
					list-style: none;
					margin-left: 25px;

					a{
						display: inline-block;
						color: $white;
						font-weight: $bold;
						font-size: 12px;
					}
				}
			}
		}
		@media #{$bp-767}{
			.menu-opener{
				display: block;
				position: relative;
				height: 26px;
				width: 40px;
				background: none;
				cursor: pointer;
				transition:all .6s;

				span{
					display: block;
					position: relative;
					height: 2px;
					width: 40px;
					background: $white;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition:all .2s;
				}
				&.open span{
					height: 0;
					width: 0;
				}

				&:before{
					content:"";
					position: absolute;
					height: 2px;
					width: 40px;
					background: $white;
					left: 0;
					top:0px;
					transition:all .6s;
				}
				&.open:before{
					transform: rotate(-42deg);
					width: 30px;
					top: 2px;
				}
				&:after{
					content:"";
					position: absolute;
					height: 2px;
					width: 40px;
					background: $white;
					left: 0;
					bottom:0px;
					transition:all .6s;
				}
				&.open:after{
					transform: rotate(42deg);
					width: 30px;
					bottom: 2px;
				}
				&.open{
					margin-right: 170px;
					transform: rotate(180deg);
				}
			}

			nav{
				width: 180px;
				background: #414056;
				box-shadow: 5px 11px 22px rgba(108, 99, 255, 0.7);
				position: fixed;
				display: flex;
				align-items: center;
				top: 0;
				right: 0;
				height: 100vh;
				padding: 15px;
				right: -200px;
				transition: all .3s;

				&.menu-opne{
					right:0;
				}

				ul{
					flex-flow: column;
					margin: 0;
					padding:0;

					li{
						margin: 0

						a{
							font-size:14px !important;
						}
					}
				}
			}
		}
	}
}
@media #{$bp-767}{
header .header-wrapper nav ul li a {
	font-size: 15px;
}
}
/*BANNER STYLES HERE*/
.banner{
	background: url(../img/Path-2.png) no-repeat scroll center bottom / 100% 35%, url(../img/background.png) no-repeat fixed center center / cover;

	.banner-wrapper{
		height: 100vh;
		display: flex;
		align-items: center;

		img{
			max-width: 90%;
		}

		h1{
			color: $white;
		}
		p{
			font-size: 20px;
			color: $white;
		}
		.site-btn{
			background: #414056;
			font-weight: $havy;
			margin-top: 20px;
			transition: all .3s;

			.fas{
				opacity: .00;
				margin-left: -5px;
				transition: all .3s;
			}

			&:hover{
				.fas{
					opacity: 1;
					margin-left: 5px;
				}
			}
		}

			@media #{$bp-991}{
			h1{
				font-size: 46px;
			}
			p{
				font-size: 18px;
			}
		}
	}

	@media #{$bp-767}{
		.banner-wrapper{
			height: auto;
			padding: 100px 0 0 0;

			.col-12.text-right{
				text-align: center !important;
			}

			img{
				width: 300px;
				margin: 25px auto 0;
			}
			.site-btn{
				margin-top: 0;
			}
		}
	}

	@media #{$bp-767}{
		.banner-wrapper{
			padding: 130px 0 0 0;

			h1{
				font-size: 36px;
				margin-bottom: 10px;
			}
			p{
				font-size: 16px;
			}
		}
	}

}

@media #{$bp-767}{
	.banner{
		background: url(../img/Path-2.png) no-repeat scroll center bottom / 150% 60%, url(../img/background.png) no-repeat fixed center center / cover;
		/*border-bottom: 1px solid #eee;*/
	}
}

.main-freture-area {
	padding: 20px 0 100px 0;

	.icon-round {
		display: block;
	  	width: 54px;
	  	height: 54px;
	  	border-radius: 50%;
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
	  	background: #ffffff;
	  	margin-bottom: 15px;
	  	color: $blue;
	  	font-size: 1.2em;
	  	box-shadow: 0px 9px  10px rgba(0,0,0,0.06);
	}

	img{
		width: 100%;
	}

	.main-feature-item-text {
		width: 73%;
		margin: 0 auto;

		.site-btn{
			font-size: .8em;
			padding:10px 45px;
			margin-top: 15px;
		}
	}
	@media #{$bp-991}{
		.main-feature-item-text{
			width: 86%;

			p{
				font-size: 14px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 7px;
			}
		}
	}

	@media #{$bp-767}{
		img{
			width: 300px;
			margin: 0 auto 15px;
			display: block;
		}

		.bdrt{
			border-top: 1px dashed #eee;
			padding-top: 15px;
		}
	}
}
@media #{$bp-767}{
	.main-freture-area {
		padding: 20px 0 40px 0;
	}
}


.global-feature {
	padding: 100px 0;
	background: url(../img/Service.png) no-repeat center center / cover;
	color: $white;

	h2{
		margin-bottom: 75px;
		color: $white;
	}

	.global-feature-item{
		text-align: center;
		padding:20px;

		.fab{
			font-size: 30px;
			margin-bottom: 10px;
		}

		h6{
			font-size: 14px;
			color: $white;
			font-weight: $havy;
		}

		p{
			font-size: 13px;
		}
	}
}
@media #{$bp-575}{
	.global-feature {
		padding: 45px 0;

		h2{
			margin-bottom: 20px;
		}
	}
}



.simple-pricing {
	padding: 100px 0;

	.pricing-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.pricing-left {
			width: 40%;
			padding-right: 5%;

			.pricing-qut {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			font-family: serif;
			margin-top: 25px;

			img{
				width: 55%;
				margin-right: 10px;
			}
			@media #{$bp-991}{
				img{
					width: 25%;
					margin-right: 30px;
				}
			}
			@media #{$bp-575}{
				img{
					width: 50%;
					margin-right: 15px;
				}
			}
			}
		}

		.pricing-item{
			background: $white;
			border-radius: 4px;
			box-shadow: 0px 9px  19px rgba(0,0,0,0.07);
			padding:50px;
			text-align: center;
			width: 30%;

			ul{
				list-style-type: none;
				margin: 0;
				padding:0;

				li{
					color: #8C8C8C;
					margin-bottom: 7px;
					font-size: .9em;
				}
			}

			.site-btn{
				padding:10px 45px;
				margin-top: 35px;
				font-size: 12px;
				font-weight: $bold;
			}
		}
		@media #{$bp-991}{
			.pricing-left {
				width: 100%;
			}
			
			.pricing-item{
				width: 50%;
			}

		}

		@media #{$bp-767}{
			.pricing-item{
				padding-right: 45px 5px;
			}
		}
		@media #{$bp-575}{
			.pricing-item{
				width: 300px;
				margin: 15px auto;
			}
		}
	}
}
@media #{$bp-575}{
.simple-pricing {
	padding: 45px 0;
}
}




.subscribe-options {
	width: 50%;
	margin: 0 auto;
	text-align: center;

	p{
		color: #808080;
	}

	.site-btn{
		font-weight: $bold;
	}
}
@media #{$bp-991}{
	.subscribe-options {
		width: 80%;
	}
}
@media #{$bp-991}{
	.subscribe-options {
		width: 100%;
	}
}


.clients {
	text-align: center;
	margin: 100px 0;

	ul{
		list-style-type: none;
		padding:0;
		display: flex;
		align-items: center;
		justify-content: center;

		li{
			img{
				max-width: 100%;
			}
		}
	}
}
@media #{$bp-575}{
.clients {
	margin: 50px 0;
}
}


footer {
	padding: 50px 0;
	background: #2F2E3D;
	text-align: center;

	ul{
		list-style-type: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		li{
			margin:0 10px;

			a{
				font-weight: $normal;
				font-size: .9em;
			}
		}
	}
	a{
		color: $white;
	}

	p{
		margin: 0;
		font-size: 12px;
	}
}
/*@media #{$bp-1199} {

}*/